---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">

    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" target="_blank">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;·&nbsp;
        {% endif %}
      {% endfor %}
      <a href="/about/">About</a>
    </div>
</header>


<main class="content" role="main">

  <nav>
    <ul class="nav nav-tabs">
      {% for category in site.categories %}
        <li>
          <a class="content-nav-a" href="#tab{{ category[0] }}">{{ category[0] | capitalize }}</a>
        </li>

      {% endfor %}
    </ul> 
  </nav>


  {% for category in site.categories %}
    <section id="tab{{ category[0] }}" class="tab-content hide">
    
      <div class="cf frame" id="{{ category[0] }}">

        {% for post in category[1] %}
          <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
            <div class="article-item">
              <header class="post-header">
                <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
              </header>
              <section class="post-excerpt" itemprop="description">
                <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
              </section>
              <div class="post-meta">
                <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
              </div>
            </div>
          </article>
        {% endfor %}

      </div>
    </section>
  {% endfor %}

</main>
