<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript" src="{{ "/assets/js/jquery.fitvids.js" | prepend: site.baseurl  }}"></script>
<script type="text/javascript" src="{{ "/assets/js/index.js" | prepend: site.baseurl  }}"></script>
<script type="text/javascript" src="{{ "/assets/js/readingTime.min.js" | prepend: site.baseurl  }}"></script>

<!-- Scroll functions -->
<script type="text/javascript">
$(document).ready(function() {
  var height = $('.article-image').height();
  $('.post-content').css('padding-top', height + 'px');

  // Image opacity scroll function
  $(window).scroll(function(){
    var logo = $('.logo-readium');
    logo.css("opacity", Math.max(0.5, 1 - $(window).scrollTop() / 300));

    var image = $('.post-image-image, .teaserimage-image');
    let max_height = $('.article-image, .teaserimage-image').height();
    // Change the opacity from 1 to 0.2 as the user scrolls
    let max_opacity_height = max_height + .2 * max_height;
    image.css("opacity", 1 - $(window).scrollTop() / max_opacity_height);
  });

  $(window).resize(function() {
    var height = $('.article-image').height();
    $('.post-content').css('padding-top', height + 'px');  
  })
  
  // Animate scroll on internal links function
  $('a[href*=\\#]:not([href=\\#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
       && location.hostname == this.hostname && !this.classList.contains('content-nav-a')) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({ scrollTop: target.offset().top }, 500);
          return false;
        }
      }
  });
});
</script>

<!-- Google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58990325-2', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>

<!-- THREE JS Logo -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r127/three.min.js"></script>
<script src="https://cdn.rawgit.com/mrdoob/three.js/r127/examples/js/loaders/GLTFLoader.js"></script>


<script type="text/javascript" src="{{ "/assets/js/logo.js" | prepend: site.baseurl  }}"></script>

<script type="text/javascript" src="{{ "/assets/js/toc.js" | prepend: site.baseurl  }}"></script>

<script type="text/javascript">
$(document).ready(function() {
  $('#toc').toc({ listType: 'ul' });
});
</script>

